<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RealTimeBB</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li data-match-route="/register" ng-hide="$root.user">
                    <a href="/register">Register</a>
                </li>
                <li data-match-route="/login" ng-hide="$root.user">
                    <a href="/login">Login</a>
                </li>
                <li data-match-route="/profile" ng-show="$root.user">
                    <a href="/profile">
                        <span ng-bind="$root.user.username"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>