<div class="container-fluid">
    <section class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li>
                    <span ng-bind="forum.name"> </span>
                </li>
            </ol>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="showNewTopicModal()">New Topic</button>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-12" infinite-scroll="forum.fetchMoreTopics()" infinite-scroll-disabled="forum.fetchingTopic">
            <ul class="timeline">
                <li ng-repeat="topic in (forum.topics | orderBy:'updatedAt':true) track by topic.id">
                    <div class="timeline-badge">
                        <img class="media-object" ng-src="//www.gravatar.com/avatar/{{topic.user.gravatar}}?s=50&amp;d=mm" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <a ng-href="/topic/{{topic.id}}">
                                <h4 class="media-heading">
                                    <span ng-bind="topic.title"> </span>
                                </h4>
                            </a>
                        </div>
                        <div class="timeline-body">
                            <hr />
                            <p>
                                <small class="text-muted">
                                    <span>Posted by </span>
                                    <span ng-bind="topic.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="topic.createdAt"></span>
                                </small>

                                <span class="text-muted" ng-show="topic.lastPost"> | </span>

                                <small class="text-muted" ng-show="topic.lastPost">
                                    <span>Last replied by </span>
                                    <span ng-bind="topic.lastPost.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="topic.lastPost.createdAt"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>