<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" infinite-scroll="forum.fetchMoreTopics()" infinite-scroll-disabled="forum.fetchingTopic">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="topic in forum.topics">
                        <td>
                            <a ng-href="/topic/{{topic.id}}">
                                <span ng-bind="topic.title"> </span>
                            </a>
                        </td>
                        <td>
                            <span ng-bind="topic.user.username"> </span>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>