<div class="container-fluid">
    <section class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li>
                    <a ng-href="/forum/{{topic.forum.id}}">
                        <span ng-bind="topic.forum.name"> </span>
                    </a>
                </li>
                <li>
                    <span ng-bind="topic.title"> </span>
                </li>
            </ol>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-12" infinite-scroll="topic.fetchMorePosts()" infinite-scroll-disabled="forum.fetchingPost">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                        <img class="media-object" ng-src="//www.gravatar.com/avatar/{{topic.user.gravatar}}?s=50&amp;d=mm" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" ng-bind="topic.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p data-markdown="topic.headPost.content" class="markdown"></p>
                            <hr />
                            <p>
                                <small class="text-muted">
                                    <span translate="COMMONS.POSTED_BY"></span>
                                    <span ng-bind="topic.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="topic.createdAt"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li ng-repeat="post in (topic.posts | orderBy:'createdAt') track by post.id" class="am-fade">
                    <div class="timeline-badge">
                        <img class="media-object" ng-src="//www.gravatar.com/avatar/{{post.user.gravatar}}?s=50&amp;d=mm" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p data-markdown="post.content" class="markdown"></p>
                            <hr />
                            <p>
                                <small class="text-muted">
                                    <span translate="COMMONS.POSTED_BY"></span>
                                    <span ng-bind="post.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="post.createdAt"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="row" ng-show="isLoggedIn()">
        <div class="col-lg-12 col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#editor" data-toggle="tab" translate="TOPIC.EDITOR"></a>
                </li>
                <li class="hidden-md hidden-lg">
                    <a href="#preview" data-toggle="tab" translate="TOPIC.PREVIEW"></a>
                </li>
            </ul>

            <section class="tab-content">
                <div id="editor" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <form name="form" role="form" novalidate>
                                <div class="form-group" ng-class="{'has-error': form.content.$dirty &amp;&amp; form.content.$invalid}">
                                    <textarea name="content" class="editor" ng-model="replyPost.content" placeholder="Markdown Content" ng-maxlength="5000" required> </textarea>
                                    <div ng-show="form.content.$dirty">
                                        <p ng-show="form.content.$error.maxlength" class="text-danger" translate="VALIDATION.MAX_LENGTH" translate-values="{max: 5000}"></p>
                                    </div>
                                </div>
                                <section>
                                    <button class="btn btn-primary pull-right" ng-click="reply(replyPost)" ng-disabled="form.$invalid" translate="BUTTON.REPLY"></button>
                                </section>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
                            <p data-markdown="replyPost.content" class="markdown"> </p>
                        </div>
                    </div>
                </div>
                <div id="preview" class="tab-pane">
                    <p data-markdown="replyPost.content" class="markdown"> </p>
                </div>
            </section>
        </div>
    </section>
</div>