<div class="container-fluid">
    <section class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li>
                    <a ng-href="/forum/{{topic.forum.id}}">
                        <span ng-bind="topic.forum.name"> </span>
                    </a>
                </li>
                <li>
                    <span ng-bind="topic.title"> </span>
                </li>
            </ol>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-12" infinite-scroll="topic.fetchMorePosts()" infinite-scroll-disabled="forum.fetchingPost">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                        <img class="media-object" ng-src="//www.gravatar.com/avatar/{{topic.user.gravatar}}?s=50&amp;d=mm" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" ng-bind="topic.title"></h4>
                        </div>
                        <div class="timeline-body">
                            <p data-markdown="topic.headPost.content"></p>
                            <hr />
                            <p>
                                <small class="text-muted">
                                    <span>Posted by </span>
                                    <span ng-bind="topic.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="topic.createdAt"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li ng-repeat="post in topic.posts">
                    <div class="timeline-badge">
                        <img class="media-object" ng-src="//www.gravatar.com/avatar/{{post.user.gravatar}}?s=50&amp;d=mm" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p data-markdown="post.content"></p>
                            <hr />
                            <p>
                                <small class="text-muted">
                                    <span>Posted by </span>
                                    <span ng-bind="post.user.username"></span>
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span am-time-ago="post.createdAt"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="row">
        <form name="form" role="form" novalidate>
            <div class="col-lg-12">
                <textarea name="content" class="editor" ng-model="replyPost.content" required> </textarea>
                <section>
                    <button class="btn btn-primary pull-right" ng-click="reply(replyPost)">Reply</button>
                </section>
            </div>
        </form>
    </section>
</div>